<div class="container p-1 m-0 border border-2 rounded-3" style="background-color: rgba(160, 160, 160, 0.589);">

    <!-- formulario de productos :3  -->
    <div class="row mx-auto">
        <div class="container ">
            <form id="formProducts">
                <div id="list" class="container overflow-y-auto" >
                    
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <button id="facturar" class="btn btn-success">crear factura</button>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <button id="add" class="btn btn-warning">Añadir producto</button>
        </div>
    </div>
</div>