

<div class="row mt-3" id="raw_0">
    <div class="col-12 col-md-2 ">
        <div class="mb-3 d-flex">
           
            <input type="text" name="cod_producto" class="form-control input-sm" 
                aria-describedby="emailHelp" placeholder="cod producto" required>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div class="mb-3">
            
            <input type="text" name="nombre_producto" class="form-control input-sm" 
                aria-describedby="emailHelp" placeholder="nombre " readonly value="" required>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div class="mb-3">
           
            <input type="number" name="cantidad" value="0" class="form-control input-sm" 
                aria-describedby="emailHelp" placeholder="cantidad"  required>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div class="mb-3">
            <input type="number" name="valor_unidad" placeholder="valor unidad" class="form-control input-sm"
                aria-describedby="emailHelp" readonly value="" required>
        </div>
    </div>
    <div class="col-12 col-md-2 d-flex justify-content-center">
        <button type="button" class="btn btn-success input-sm btnAdd"  style="width: 100%; height: 2.3rem;"> + </button> 
    </div>
    <div class="col-12 col-md-2 mt-2 mt-md-0 d-flex justify-content-center">
        <button type="button" class="btn btn-danger input-sm btnRest"  style="width: 100%; height: 2.3rem;"> - </button>
    </div>
</div>

    


